.card {
  background: #FFFFFF;
  width: 386px;
  height: 205px;
  position: relative;
}

.content {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 19px;
}

.img {
  background: #C4C4C4;
  border-radius: 20px;
  width: 127px;
  height: 127px;
}

.title {
  font-size: 24px;
  margin-top: 0;
}

.subText {
  font-size: 18px;
}

.info {
  margin-left: 25px;
}
