.card {
  background: #FFFFFF;
  width: 346px;
  height: 205px;
  position: relative;
  margin: 0 auto;
  border-bottom: 1px solid #999999;
}

.card:last-of-type {
  border-bottom: none;
}

.content {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 19px;
}

.img {
  background: #C4C4C4;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.14);
  border-radius: 20px;
  width: 127px;
  height: 127px;
}

.title {
  font-size: 24px;
  margin-top: 0;
}

.subText {
  font-size: 18px;
}

.info {
  margin-left: 25px;
}
