.button {
  border: none;
  border-radius: 20px;
  color: #ffff;
  height: 48px;
  width: 249px;
  font-size: 24px;
  margin: 10px auto;
  display: block;
  text-transform: uppercase;
}

.primary {
  background-color: #f38374;
}

.secondary {
  background-color: #00579b;
}

.tertiary {
  background-color: #b2c1e0;
  color: #00579b;
}
