.create-page {
  display: grid;
}

.create-page-avatars {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-content: center;
}

.create-page-plus {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.create-page-plus-icon {
  border-radius: 50%;
  background-color: #fbd9d5;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-page-group-name {
  text-align: left;
}

.create-page-input {
  text-align: left;
}

.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
